body {
	overflow-x: hidden;
}

/* CSS PARA EL CERTIFICADO */

.certificado {
	background-image: url(./images/fondo\ para\ certificados-02\ 1.png);
    background-size: cover;
    position: relative;
    height: 100%;
    display: flex;
    background-color: aquamarine;
    flex-direction: column;
    justify-content: center;
}

.medalla {
	position: absolute;
	height: 23rem;
	right: 0;
	top: 0%;

}

#certificado-texto{
	position: relative;
    bottom: -3%;
	font-size: 1.3rem;
}

.icons{
	height:4rem;
	aspect-ratio: 2/1;
}

.banderitasrow{
	display: flex;
    justify-content: center;
}

.banderitas{
	display: flex;
    justify-content: space-evenly;
    width: 50%;
}
.barrita{

}

/* body {
	overflow-y: hidden;
} */

.centrado {
	/* display: flex;
	align-items: center;
	justify-content: center; */
}

.title {
	font-size: 3.7rem;
	font-weight: 700;
}

.subTitle {
	letter-spacing: 0.5px;
	font-size: 1.7rem;
}

.paragraph {
	font-weight: 600;
}

.firma {
	height: 6rem;
	transform: translate(0px,1.2rem);
}

.firma2 {
	width: 25%;
}

.logos {

	position: relative;
	top: -0.7em;
}

/* CSS PARA EL FORMULARIO */

.formCont {
	background: rgb(231, 226, 226);
	height: 100vh;
	width: 100vw;
}

.formCont p {
	text-align: start;
	font-weight: 600;
}

.formCont select {
	border-radius: 5px;
	border: none;
	box-shadow: 1px 2px 2px 1px rgba(75, 72, 72, 0.726);
}

.formCont input {
	border-radius: 5px;
	border: none;
	box-shadow: 1px 2px 2px 1px rgba(75, 72, 72, 0.726);
}

.formCont button {
	border-radius: 5px;
	border: none;
	box-shadow: 1px 2px 2px 1px rgba(75, 72, 72, 0.726);
	background: #ed2025;
	color: white;
	font-size: 1.2rem;
	font-weight: 600;
}

.text-red {
	color: red;
}
